<div id="header-container">
    <button class="header login-button"  v-on:click="login" v-if="!loggedIn"> Login via Facebook </button>
    <span class='header' v-if="loggedIn">
        <span class="header-right">
            <span class="header-numItemsStudied" title="Items studied">
                {{numItemsStudied}}
                <i class="fa fa-pagelines" aria-hidden="true"></i>
            </span>
            <span class="header-numItemsMastered" title="Items mastered">
                {{numItemsMastered}}
                <i class="fa fa-tree" aria-hidden="true"></i>
            </span>
            <span class="header-timeSpent">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                =
                {{secondsSpentStudying | secondsToPretty}}
            </span>
            <img class='header-photo' :src="photoURL" v-if="loggedIn">
            <!--<span class="header-itemsMasteredPerMinute"> {{itemsMasteredPerMinute | truncate}} Items Mastered Per Minute</span>-->
        </span>
    </span>
</div>
