<div id="header">
    <span class="header-version"> Version: {{version}}</span>
    <span class="header-plan"><a href="https://docs.google.com/presentation/d/101sNSVZnh-olwaRi4hRR5u6KcFKF78LoV5FXYWGlIT4/edit?usp=sharing">The Plan</a></span>
    <span class="header-hire"><a href="mailto:john@branches-app.com">Work for Branches</a></span>
    <span class="header-todolist"><a href="https://trello.com/b/lEER4Uqu">Future Features</a></span>
    <button class="login-button"  v-on:click="login" v-if="!loggedIn"> Login via Facebook </button>
    <span class="login-user-name" v-if="loggedIn">{{user.fbData.displayName}}</span>
</div>
