<div class="card-confidence-buttons-container" v-bind:style="{'width': cardWidth, 'left': left, 'top': cardBottom + 40, 'font-size': fontSize}">
  <div class="card-confidence-button-1" v-on:click="clickProficiencyOne">{{timeTilNextReviewIfClickOne}}</div>
  <div class="card-confidence-button-2" v-on:click="clickProficiencyTwo" alt="This card will be triggered for review in 10 minutes">{{timeTilNextReviewIfClickTwo}}</div>
  <div class="card-confidence-button-3" v-on:click="clickProficiencyThree" alt="This card will be triggered for review in 5 hours">{{timeTilNextReviewIfClickThree}}</div>
  <div class="card-confidence-button-4" v-on:click="clickProficiencyFour">{{timeTilNextReviewIfClickFour}}</div>
</div>
