@import '../constants';
@import '../global';
@import '../cardMain/cardMain';

.card-confidence-buttons-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.card-confidence-button {
  padding: 4px;
  flex: 25;
  text-align: center;

}
.card-confidence-button-hover {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, .8);
  z-index: 3;
}
.card-confidence-button-1 {
  .card-confidence-button;
  background-color: @proficiencyOne;
  border-radius: 8px 0px 0px 8px;
}
.card-confidence-button-1:hover {
  .card-confidence-button-hover;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, .8);
}
.card-confidence-button-2 {
  .card-confidence-button;
  background-color: @proficiencyTwo;
}
.card-confidence-button-2:hover {
  .card-confidence-button-hover;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, .8);
}
.card-confidence-button-3 {
  .card-confidence-button;
  background-color: @proficiencyThree;
}
.card-confidence-button-3:hover {
  .card-confidence-button-hover;
}
.card-confidence-button-4 {
  .card-confidence-button;
  background-color: @proficiencyFour;
  border-radius: 0px 8px 8px 0px;
}
.card-confidence-button-4:hover {
  .card-confidence-button-hover;
}
