<!--<div-->

<!--        class="card-confidence-buttons"-->
<!--        v-bind:style="{'top': bottom + 'px', 'left': cardCenter + 'px'}"-->
<!--        v-if="node"-->
<!--&gt;-->
<!--&lt;!&ndash;  <div class="card-confidence-button">1{{contentId}}</div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="card-confidence-button">2 {{cardId}}</div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="card-confidence-button">3</div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="card-confidence-button">4</div>&ndash;&gt;-->
<!--</div>-->
<div>
  cardConfidenceButtons {{cardId}}
</div>
