<div class="persuasion">
<!--  Buy our product please-->
  <div class="social-proof">
<!--    <div class="social-proof-item-row">-->
      <div class="social-proof-item social-proof-item-left">
        <div class="social-proof-quote">
          "It's like downloading information into your brain"
        </div>
        <div class="social-proof-name">
          Anthony Isaacson
        </div>
        <div class="social-proof-position">
          CEO, Novita Financial
        </div>
        <div class="social-proof-image-container">
          <img class="social-proof-image" src="/app/static/images/anthony-headshot-min.png"/>
        </div>
      </div>
<!--    </div>-->

    <div class="wrapper">
      <div class="line-bottom"></div>
      <div class="line-top"></div>
    </div>
    <div class="social-proof-item social-proof-item-right">
      <div class="social-proof-quote">
        "This is more effective than any flashcard app I've ever used"
      </div>
      <div class="social-proof-name">
        Mackenzie Pantoja
      </div>
      <div class="social-proof-position">
        4.0 GPA Student, Yale Law School
      </div>
      <div class="social-proof-image-container">
        <img class='social-proof-image' src='/app/static/images/mackenzie.jpg'/>
      </div>
    </div>
    <div class="wrapper">
      <div class="line-top"></div>
      <div class="line-bottom"></div>
    </div>
    <div class="social-proof-item social-proof-item-left">
      <div class="social-proof-quote">
        "This is super effective for taking notes and memorizing. I wish I had this in high school!"
      </div>
      <div class="social-proof-name">
        Patryk Lipsi
      </div>
      <div class="social-proof-position">
        <!-- Unofficial Student --> Student, University of Chicago
      </div>
      <div class="social-proof-image-container">
        <img class='social-proof-image' src='/app/static/images/patryk.jpg'/>
      </div>
    </div>

<!--    <div id="wrapper">-->
<!--      <div class="circle"></div>-->
<!--      <div class="line-top"></div>-->
<!--      <div class="circle"></div>-->
<!--      <div class="line-bottom"></div>-->
<!--      <div class="circle"></div>-->
<!--    </div>-->
  </div>
  <div class="authority-proof"><!-- As featured in Ohio State Lantern . . .Stanford Magazine . . .University of Pennsylvania Magazine . . . CNBC News --></div>
  <!--
  <div class="start-now">Start Now for Free. insert signup template again</div>
  <div class="benefits-summary">. Maybe have different types of birds flying different directions in each section. (maybe use a story) You Learn Faster</div>
  <div class="start-now">Start Now for Free</div>
  -->
</div>
