<div class="persuasion">
  <a id='more' name="more" class="zero-size"></a>
<!--  Buy our product please-->
  <div class="authority-proof"><!-- As featured in Ohio State Lantern . . .Stanford Magazine . . .University of Pennsylvania Magazine . . . CNBC News --></div>
  <div class="video"><!-- TITLE =  . . . . CONTENT = If you want to learn faster you must do three things . . . explain . . .stats . . .authority . . . show the features of branches --></div>
  <!-- TODO: GET A SOCIAL PROOF ITEM from an esteemed education researcher like "Learners anywhere, learning anything should use Branches" - Barabara Oakley, author of course "Learning how to Learn" -->
  <div class="social-proof">

<!--    <div class="social-proof-item-row">-->
      <div class="social-proof-item social-proof-item-left">
        <div class="social-proof-quote">
          "It's like downloading information into your brain."
        </div>
        <div class="social-proof-name">
          Anthony Isaacson
        </div>
        <div class="social-proof-position">
          CEO, Novita Financial
        </div>
        <div class="social-proof-image-container">
          <img class="social-proof-image" src="/app/static/images/anthony-headshot-min.png"/>
        </div>
      </div>
<!--    </div>-->

<!--    <div class="wrapper">-->
<!--      <div class="line-bottom"></div>-->
<!--      <div class="line-top"></div>-->
<!--    </div>-->
    <div class="social-proof-item social-proof-item-right">
      <div class="social-proof-quote">
        "This is more effective than any flashcard app I've ever used."
      </div>
      <div class="social-proof-name">
        Mackenzie Pantoja
      </div>
      <div class="social-proof-position">
        4.0 GPA Student, Yale Law School
      </div>
      <div class="social-proof-image-container">
        <img class='social-proof-image' src='/app/static/images/mackenzie.jpg'/>
      </div>
    </div>
<!--    <div class="wrapper">-->
<!--      <div class="line-top"></div>-->
<!--      <div class="line-bottom"></div>-->
<!--    </div>-->
    <div class="social-proof-item social-proof-item-left">
      <div class="social-proof-quote">
        "This is super effective for taking notes and memorizing. I wish I had this in high school!"
      </div>
      <div class="social-proof-name">
        Patryk Lipsi
      </div>
      <div class="social-proof-position">
        <!-- Unofficial Student --> Student, University of Chicago
      </div>
      <div class="social-proof-image-container">
        <img class='social-proof-image' src='/app/static/images/patryk.jpg'/>
      </div>
    </div>

<!--    <div id="wrapper">-->
<!--      <div class="circle"></div>-->
<!--      <div class="line-top"></div>-->
<!--      <div class="circle"></div>-->
<!--      <div class="line-bottom"></div>-->
<!--      <div class="circle"></div>-->
<!--    </div>-->
  </div>
  <div class="success-stories"><!--"I was studying into the wee hours of the night, having no time to spend with my boyfriend and friends. I always felt stressed out, and like I was stupid. But then, --></div>
  <div class="text-explanation"><!-- this content is very similar to to the video - but instead in text, images, and charts --> <div class="text-explanation-header"><!-- "It's like downloading information into your brain" - Anthony I. ((ideally this person would be Elon Musk))</div><div class="text-explanation-subheader"><!--AS DESIGNED by the WORLD'S LEADING education researchers . . . --></div>
  </div>
  <!--
  <div class="start-now">Start Now for Free. insert signup template again</div>
  <div class="benefits-summary">. Maybe have different types of birds flying different directions in each section. (maybe use a story) You Learn Faster</div>
  <div class="start-now">Start Now for Free</div>
  -->
  <div class="about-story"><!-- My name is John Simerlink, and I am a former student who's frustrated with the school system. (TODO: have the copy in this be catered from the language of each target market,)

  Like you may have, I spent countless hours studying for exams, writing papers
   . . . stuff

   ... contrast..

   [insert image, joke, story, comic about late nights studying

   . . . explanation .. .


   ...

   ...

   This is a shame, because education is incredibly powerful.

   . . . how can we decrease gun violence? [improve education] (link)
   . . . how can we decrease single fatherhood? [improve education] (link)
   . . . how can we reduce prejudice and injustice? [improve education]
   . . . how can we . . ?

   In the wordsThatFit of [Insert famous well respected figure here], (find some quote that is something like "I know of no better way to improve the world than education".

   My goal is to enable everyone in the world to learn any subject 10x faster.

   To learn algebra in a week, not an entire year.

   To learn Spanish in a month, not a year.

   To become a doctor, in a year, not a decade.

    (disclaimer/acknowledgement of how impossible that sounds)

   I specifically want to make it mind-blowingly easy and fun to learn science, technology, engineering, and mathematics. and particularly the subjects currently thought as very hard or time consuming, but very useful to society - science, technology, engineering, mathematics, and medicine. very hard subjects, that). This may seem impossible, but you can read my reasoning for [why this is possible here] (link to a video + article on getbranches.com/10xfaster (that tracks # of shares on social media) that explains the math), and you can see the growing list of industry leaders, university presidents, education PhDs, and senators who have signed onto the Learn 10x Faster Pledge.

   I want you to join me in reshaping how humans learn. If you are forward thinking and want to see the education system changed, I want you to consider furthering the cause by pre-ordering a 12-month membership to Branches Pro. I do not come from wealthy parents. I have been funding this with my own time and money, and want to be able to work full time on improving the education system.


  --> </div>
    <!-- TODO: have a similar persuasion page - but for elementary students (and really their (Asian) parents), rather than college students -->
</div>
