<div class="mobileAnswerTray" id="mobileAnswerTray">
    <div class="tray-title">
        <div class="tray-answer-title">
            {{content.title || content.question}}
        </div>
        <div class="tray-answer-close" v-on:click="closeTray">
            <span>X</span><!--TODO use glyphicon-->
        </div>
    </div>
    <div class="tray-answer-body">
        <p>{{content.answer}}</p>
    </div>
    <div class="tray-footer">
        <div class="tray-footer-timer">
            {{timeSpentReviewing | secondsToPretty}}
        </div>
    </div>

</div>