@import '../common.less';
#map-container {

}
#graph-container {
  height: 600px;
  background-color:@globalBackground;  /*rgb(139, 69, 19);/*ray lightbrown;*/
  cursor: grab;
}
.points {
  position: absolute;
  right: 0;
  top: 0;
}
