<div class="card-edit-two" v-if="node">
<!--  <textarea-->
<!--          autofocus-->
<!--          class="card-edit-textarea"-->
<!--          ref="title"-->
<!--          v-bind:value="flipped ? answer: question"-->
<!--          v-on:keyup="keypressed"-->
<!--          v-bind:style="{'background-color': nodeColor, 'font-size': fontSize, 'width': cardWidth, 'height': cardHeight, 'top': top, 'left': left}"-->
  <textarea
          v-if="!flipped"
          autofocus
          class="card-edit-textarea"
          ref="question"
          v-bind:value="question"
          v-on:keyup="keyupped"
          v-on:keypress="keypressed"
          v-on:keydown="keydowned"
          v-bind:style="{'background-color': nodeColor, 'font-size': fontSize, 'width': cardWidth, 'height': cardHeight, 'top': top, 'left': left}"
  ></textarea>
  <textarea
          v-if="flipped"
          autofocus
          class="card-edit-textarea"
          ref="answer"
          v-bind:value="answer"
          v-on:keyup="keyupped"
          v-on:keypress="keypressed"
          v-on:keydown="keydowned"
          v-bind:style="{'background-color': nodeColor, 'font-size': fontSize, 'width': cardWidth, 'height': cardHeight, 'top': top, 'left': left}"></textarea>
  <div class="card-tab-tooltip-container"
       v-bind:style="{'left': left, 'top': top - 1.5 * fontSize, 'font-size': fontSize * .667, 'width': cardWidth}"

  >
    <div class="card-tab-tooltip"
    >
      Press <span class="keyboard-key">Tab</span> to edit {{flipped? 'front': 'back'}}
    </div>
  </div>
</div>
