@import '../constants';
@import '../global';
@import '../cardMain/cardMain';


.card-edit {
  background-color: rgba(0, 0, 0, 0);
  cursor: default;
  //padding: @defaultPadding;
  width: 320px;
  border-radius: @defaultBorderRadius;
  //box-shadow: @defaultBorderRadius @defaultBorderRadius @defaultBorderRadius rgba(0, 0, 0, .5);

  /* ^^ doesn't really work because of the way we're currently rendering the sigma tooltip/hover */

  overflow-wrap: break-word;

  z-index: 9003;

}

.card-edit-textarea {
  .card-input;
  resize: none;
  margin: 0;
  font-family: Nunito;
  color: @tertiaryColor;
  z-index: @levelOne;
  position: absolute;

  white-space: normal;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;

  border-radius: 1em;
  //padding: 0;
  padding-top: .25em;

  line-height: 1.1em;
  box-shadow: @defaultPadding 12px 8px rgba(0, 0, 0, 0.8);


}

.card-edit-textarea:focus {
  outline: none;
}



.card-edit-footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon-button {
  cursor: pointer;
}

.pre-wrap {
  white-space: pre-wrap;
}


.card-edit-debugging-info {
  width: 100%;
  word-wrap: break-word;
}

.card-edit-button-choice-selected {
  size: 40px;
}


.card-tooltip-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;

  white-space: nowrap;
}
