<div class="card-edit-two" v-if="node">
<!--  <textarea-->
<!--          autofocus-->
<!--          class="card-edit-textarea"-->
<!--          ref="title"-->
<!--          v-bind:value="flipped ? answer: question"-->
<!--          v-on:keyup="keypressed"-->
<!--          v-bind:style="{'background-color': nodeColor, 'font-size': fontSize, 'width': cardWidth, 'height': cardHeight, 'top': top, 'left': left}"-->
  <textarea
          v-if="!flipped"
          autofocus
          class="card-edit-textarea"
          ref="question"
          v-bind:value="question"
          v-on:keyup="keypressed"
          v-bind:style="{'background-color': nodeColor, 'font-size': fontSize, 'width': cardWidth, 'height': cardHeight, 'top': top, 'left': left}"
  ></textarea>
  <textarea
          v-if="flipped"
          autofocus
          class="card-edit-textarea"
          ref="answer"
          v-bind:value="answer"
          v-on:keyup="keypressed"
          v-bind:style="{'background-color': nodeColor, 'font-size': fontSize, 'width': cardWidth, 'height': cardHeight, 'top': top, 'left': left}"></textarea>
  <div class="card-tab-tooltip">
    Press <span class="keyboard-key">Tab</span> to edit {{flipped? 'back': 'front'}} - nodeColor is {{nodeColor}}
  </div>
</div>
