@proficiencyUnknown: grey;
@proficiencyOne: red;
@proficiencyTwo: orange;
@proficiencyThree: yellow;
@proficiencyFour: lawngreen;
@primaryColor: #00b4ff;
@globalBackground: @primaryColor;
@lightskyblue: #c8e2ec;

@secondaryColor: white;
@tertiaryColor: #18008e;
@secondaryFaded: #d5d0ea;

@birdBeakYellow: #ffde00;