@proficiencyUnknown: grey;
@proficiencyOne: red;
@proficiencyTwo: orange;
@proficiencyThree: yellow;
@proficiencyFour: lawngreen;
//@globalBackground: skyblue; // #87CEEB i think
@primaryColor: #00b4ff;
@globalBackground: @primaryColor;

@secondaryColor: white;
@tertiaryColor: #18008e;
@secondaryFaded: #d5d0ea;