@import '../../other_imports/odometer/odometer-theme-default.css';
@import './common';
@import './offline';

html,
button,
.tree {
  font-family: 'Fredoka One', cursive !important;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.sigma-tooltip {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  z-index: 2;
}

.sigma-tooltip-header {
  font-variant: small-caps;
  font-size: 120%;
  color: #437356;
  border-bottom: 1px solid #aac789;
  padding: 10px;
}

.sigma-tooltip-body {
  padding: 10px;
}

.sigma-tooltip-body th {
  color: #999999;
  text-align: left;
}

.sigma-tooltip-footer {
  padding: 10px;
  border-top: 1px solid #aac789;
}

.sigma-tooltip > .arrow {
  border-width: 10px;
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.sigma-tooltip.top {
  margin-top: -12px;
}

.sigma-tooltip.top > .arrow {
  left: 50%;
  bottom: -10px;
  margin-left: -10px;
  border-top-color: rgb(249, 247, 237);
  border-bottom-width: 0;
}

.sigma-tooltip.bottom {
  margin-top: 12px;
  margin-left: -160px; // eyeballed via trial and error
}

.sigma-tooltip.bottom > .arrow {
  left: 50%;
  top: -10px;
  margin-left: -10px;
  border-bottom-color: rgb(249, 247, 237);
  border-top-width: 0;
}

.sigma-tooltip.left {
  margin-left: -12px;
}

.sigma-tooltip.left > .arrow {
  top: 50%;
  right: -10px;
  margin-top: -10px;
  border-left-color: rgb(249, 247, 237);
  border-right-width: 0;
}

.sigma-tooltip.right {
  margin-left: 12px;
}

.sigma-tooltip.right > .arrow {
  top: 50%;
  left: -10px;
  margin-top: -10px;
  border-right-color: rgb(249, 247, 237);
  border-left-width: 0;
}

.footer-container {
  padding: 0 4px 0 4px;
  background-color: skyblue; /*/*saddlebrown*/
  z-index: 9000;
}

.footer {
  background-color: skyblue; /*/*saddlebrown*/
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.footer-createExercise {
  cursor: pointer;
}

.branches-app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-view {
  flex: 90;
  width: 100%;
}

.footer-view {
  flex: 10;
  width: 100%;
}

/*todo replace below with a class for the tree html component*/
button {
  cursor: pointer;
}

.footer-photo {
  width: 25px;
  height: 25px;
}

.divider-horizontal {
  border-top: 2px dotted #ffffff;
  padding-top: 4px;
  padding-bottom: 4px;
}

.contentList-item-id {
  color: #a9a9a9;
}

.new-exercise {
  padding: 4px 4px 4px 4px;
}
