<div id="header">
    <h1>THIS IS HEADER COMPONENT</h1>
    <span class="header-version"> Version: {{headerCtrl.version}}</span>
    <span class="header-plan"><a href="https://docs.google.com/presentation/d/101sNSVZnh-olwaRi4hRR5u6KcFKF78LoV5FXYWGlIT4/edit?usp=sharing">The Plan</a></span>
    <span class="header-hire"><a href="mailto:john@branches-app.com">Work for Branches</a></span>
    <button class="login-button"  ng-click="headerCtrl.login()"> Login via Facebook </button>
    <span class="login-user-name"></span>
</div>
