<div class="package">
  <h2>Choose a package*</h2>
  <input v-model="package" type="radio" name="gender" :value="PACKAGE_NAMES.WEEKLY">99¢/week<br>
  <input v-model="package" type="radio" name="gender" :value="PACKAGE_NAMES.MONTHLY">$1.99/month<br>
  <input v-model="package" type="radio" name="gender" :value="PACKAGE_NAMES.YEARLY">99¢/month - When you buy a one year subscription ($11.88)<br>
  <branches-stripe
    :membershipSelection="package"
  ></branches-stripe>
  <div class="refund-policy">110% Refund guarantee - If within 30 days of signing up you are not satisfied, I'll refund you 110% of what you paid.</div>
</div>

