<span class="proficiency-selector">
    <span class="proficiency-selector-item proficiency-selector-item-one"
          v-bind:class="{'proficiency-selector-item-active': proficiencyIsOne}"
          v-on:click.stop="setProficiencyToOne"></span>
    <span class="proficiency-selector-item proficiency-selector-item-two"
          v-bind:class="{'proficiency-selector-item-active': proficiencyIsTwo}"
          v-on:click.stop="setProficiencyToTwo"></span>
    <span class="proficiency-selector-item proficiency-selector-item-three"
          v-bind:class="{'proficiency-selector-item-active': proficiencyIsThree}"
          v-on:click.stop="setProficiencyToThree"></span>
    <span class="proficiency-selector-item proficiency-selector-item-four"
          v-bind:class="{'proficiency-selector-item-active': proficiencyIsFour}"
          v-on:click.stop="setProficiencyToFour"></span>
</span>
