@import '../tree/tree.less';
.proficiency-selector {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center
}
.proficiency-selector-item {
  min-width: 25px;
  max-width: 25px;
  min-height: 25px;
  max-height: 25px;
  cursor: pointer;
  //border-radius: 1px;
}
.proficiency-selector-item-active {
  min-width: 35px;
  max-width: 35px;
  min-height: 35px;
  max-height: 35px;
}
.proficiency-selector-item-zero {
  .tree-proficiency-unknown;
}
.proficiency-selector-item-one {
  .tree-proficiency-values-one;
}
.proficiency-selector-item-two {
  .tree-proficiency-values-two;
}
.proficiency-selector-item-three {
  .tree-proficiency-values-three;
}
.proficiency-selector-item-four {
  .tree-proficiency-values-four;
}
