<div class="login-container">
  <input
          class='sign-up-input'
          id="email"
          type="text"
          name="email"
          ref="email"
          placeholder="name@email.com"
          v-on:keyup.enter="loginWithEmail"
  >
  <input
          class='sign-up-input'
          id="password"
          name="password"
          ref="password"
          type="password"
          placeholder="password"
          v-on:keyup.enter="loginWithEmail"
  >
  <button
          class="sign-up-button"
          v-on:keyup.enter="loginWithEmail"
          v-on:click="loginWithEmail"
          >Login To Study
  </button>
  <div class="error">
    {{loginWithEmailErrorMessage}}
  </div>
  <h2>OR</h2>
  <div class="signUp-facebook-container">
    <button class="sign-up-button" v-on:click="loginWithFacebook">Login Via Facebook
    </button>
  </div>
  <router-link to="/auth/signup/1">Or Create an Account</router-link>
</div>