@import '../constants';
@import '../global';

.infographic {
  width: 100%;
  max-width: 811px;
}

.auth-container {
  position: absolute;
  z-index: 1;
  color: @textColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  @authContainerMaxWidth: 208px;
}

.auth-content-title {
  text-align: center;
  font-size: 38px;
}
.auth-content-subtitle {
  text-align: center;
  font-size: 18px;
}

.auth-animations {
  position: absolute;
  width: 100%;
  height: 100%;
}

.auth {
}
.auth-main {
  height: 100%;
  max-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

::placeholder {
  &:extend(.placeholder);
}

.sign-up-input {
  &:extend(.input);
  width: @authContainerMaxWidth;
  //background-color: @inputBackgroundColor;
  //color: @inputTextColor;
  //border-radius: @defaultBorderRadius;
  //border-width: 0;
  //padding: 8px @defaultPadding 8px @defaultPadding;
  //margin-top: 5px;
  //margin-bottom: 5px;
  //display: block;
  //font-size: 18px;
}

//.sign-up-element-focus {
//  &:extend(.input-focus);
//}

.sign-up-input:focus {
  &:extend(.input-focus);
}

.auth-container:focus {
  &:extend(.input-focus);
}

.sign-up-button:focus {
  &:extend(.input-focus);
}

.sign-up-email-container {
}

.sign-up-button {
  &:extend(.primary-button);
}

.error {
  color: red;
  padding-left: @defaultPadding;
  max-width: 200px;
}

.birds {
  position: absolute;
  width: 100%;
  height: 100%;
}

.clouds {
  position: absolute;
  width: 100%;
  height: 100%;
}

.down-arrow-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 4vh;
}
.down-arrow-container:hover > .down-arrow {
  padding: ~"calc((2.1vw + 2.1vh) /2)";
  color: black;
}
.down-arrow {
  color: @tertiaryColor;
  cursor: pointer;
  padding: ~"calc((2vw + 2vh) /2)";
  border-style: dotted;
  border-width: 0px 0.8vw 0.8vw 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  display: inline-block;
}
