<div class="birds">
  <div v-on:click="bird1Move" id='bird-1' class="bird-flying-1">
    <div ref="bird1" class="bird"><span class="beak"></span></div>
  </div>
  <div v-on:click="bird2Move" id='bird-2' class="bird-flying-2">
    <div ref="bird2" class="bird"><span class="beak"></span></div>
  </div>
  <div v-on:click="bird3Move" id='bird-3' class="bird-flying-3">
    <div ref="bird3" class="bird"><span class="beak"></span></div>
  </div>
  <div v-on:click="bird4Move" id='bird-4' class="bird-flying-4">
    <div ref="bird4" class="bird"><span class="beak"></span></div>
  </div>
  <div v-on:click="bird5Move" id='bird-5' class="bird-flying-5">
    <div ref="bird5" class="bird"><span class="beak"></span></div>
  </div>
</div>
