<div class="auth">
  <!--<div>-->
  <!--<button class="login-button" v-on:click="loginWithFacebook" v-if="!loggedIn">Click to Login via Facebook </button>-->
  <!--</div>-->
  <!--<img v-if="!loggedIn" class='infographic' src="/dist/images/infographic-mobile.jpg">-->
  <!--<branches-stripe v-if="loggedIn" button="Get Beta Access #2" ></branches-stripe>-->
  <div class="auth-container">

    <h2 class="auth-content-title"> Branches</h2>
    <router-view></router-view>
    <div class="sign-up-content">
      <div
        class="sign-up-email-container"
        v-show="signUpMode"
      >
        <input
          class='sign-up-input'
          id="emailCreate"
          type="email"
          name="email"
          ref="emailCreate"
          placeholder="you@email.com"
          v-on:keyup.enter="createUserWithEmail"
        >
        <input
          class='sign-up-input'
          id="passwordCreate"
          name="password"
          ref="passwordCreate"
          type="password"
          placeholder="password"
          v-on:keyup.enter="createUserWithEmail"
        >
        <input
          class='sign-up-input'
          id="passwordCreateConfirm"
          name="password-confirm"
          ref="passwordCreateConfirm"
          type="password"
          placeholder="password again"
          v-on:keyup.enter="createUserWithEmail"
        >
        <div class="error">
          {{signUpWithEmailErrorMessage}}
        </div>
        <button
          class="sign-up-button"
          v-on:click="createUserWithEmail"
          v-on:keyup.enter="createUserWithEmail"
          v-if="!loggedIn">Create Account
        </button>
        <div class="error">
          {{loginWithEmailErrorMessage}}
        </div>

      </div>
      <h2>OR</h2>
      <div class="signUp-facebook-container">
        <button class="sign-up-button" v-on:click="loginWithFacebook" v-if="!loggedIn">Signup Via Facebook
        </button>
      </div>
    </div>

    <login></login>
  </div>
  <div class="auth-animations">
    <auth-clouds></auth-clouds>
    <auth-birds></auth-birds>
  </div>
</div>
