@import '../common.less';

.tree-proficiency-one {
  background-color: @proficiencyOne;
}
.tree-proficiency-two {
  background-color: @proficiencyTwo;
}
.tree-proficiency-three {
  background-color: @proficiencyThree;
}
.tree-proficiency-four {
  background-color: @proficiencyFour;
}
.tree-proficiency-unknown {
  background-color: @proficiencyUnknown;
}
.tree-proficiency-one-text {
  color: @proficiencyOne;
}
.tree-proficiency-two-text {
  color: @proficiencyTwo;
}
.tree-proficiency-three-text {
  color: @proficiencyThree;
}
.tree-proficiency-four-text {
  color: @proficiencyFour;
}
.tree-proficiency-unknown-text {
  color: @proficiencyUnknown;
}

.tree-textarea{
  width: 100%;
}
.tree {
  cursor: default;
  padding: 4px;
  width: 320px;
  border-radius: 3px; /* doesn't really work because of the way we're currently rendering the sigma tooltip/hover */

  overflow-wrap: break-word;

  z-index: 9003;


  .tree-skill{
    .tree-new-skill {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .tree-new-skill-input{
      .tree-textarea;
    }
    .tree-current-skill {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }


  .tree-fact {
    .tree-current-fact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .tree-new-fact {
      display: flex;
      flex-direction: column;
    }
    .tree-new-fact-answer {
      .tree-textarea;

    }
  }



}
.tree-current-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tree-heading-leaf-proficiencies {
  display: flex;
  flex-direction: row;
}
.tree-heading-leaf-num {
  margin-left: 4px;
  margin-right: 4px;
}
.tree-heading-leaf-num-unknown {
  .tree-heading-leaf-num;
  .tree-proficiency-unknown-text;
}
.tree-heading-leaf-num-one {
  .tree-heading-leaf-num;
  .tree-proficiency-one-text;
}
.tree-heading-leaf-num-two {
  .tree-heading-leaf-num;
  .tree-proficiency-two-text;
}
.tree-heading-leaf-num-three {
  .tree-heading-leaf-num;
  .tree-proficiency-three-text;
}
.tree-heading-leaf-num-four {
  .tree-heading-leaf-num;
  .tree-proficiency-four-text;
}
.tree-proficiency {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tree-proficiency-timeTilReview {
  display: flex;
  justify-content: center;
}

.tree-footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tree-edit-button {
  cursor: pointer;
}
.tree-delete-button {
  cursor: pointer;
}
.tree-current-fact-question {
  padding-bottom: 4px;
}
.tree-current-fact-answer {
  padding-left: 4px;
}
.tree-debugging-info {
  width: 100%;
  word-wrap: break-word;
}
.tree-label {
  color: white;
}
.tree-button-choice-selected {
  size: 40px;
}

.sigma-tooltip {
  &.mobileAnswerTray {
    bottom: 40px !important;
    left: 0 !important;
    right: 0 !important;
    width: 100%;
    max-width: 100%;
    top: inherit !important;
    .tree {
      width: 100%;
    }
  }
}