<div class="tree">
    <div class="tree-timer">TIMER:{{content.timer}}</div>
    <div class="tree-fact" v-if="typeIsFact">
        <div class="tree-current-fact" v-if="!editing">
            <input type="text" class="tree-current-fact-id" :value="content.id" hidden>
            <div class="tree-current-fact-question">{{content.question}}</div>
            <div class="tree-current-fact-answer">{{content.answer}}</div>
        </div>
        <div class="tree-new-fact" v-if="editing">
            <input class="tree-id" v-model="content.id">
            <input class="tree-new-fact-question" v-model="content.question">
            <input class="tree-new-fact-answer" v-model="content.answer">
            <button class="fact-new-save" v-on:click="changeContent">Save</button>
        </div>
    </div>
    <div class="tree-heading" v-if="typeIsHeading">
        <div class="tree-current-fact" v-if="!editing">
            <input type="text" class="tree-current-fact-id" :value="content.id" hidden>
            <div class="tree-current-heading">HEADING: {{content.title}}</div>
        </div>
        <div class="tree-new-fact" v-if="editing">
            <input class="tree-id" v-model="content.id">
            <input class="tree-new-heading" v-model="t.title">
            <button class="heading-new-save" v-on:click="changeContent">Save</button>
        </div>
    </div>
    <div class="tree-proficiency">
        <div class="tree-proficiency-message">How well did you know this?</div>
        <div class="tree-proficiency-value">Proficiency: {{content.proficiency}}</div>
        <div class="tree-proficiency-timeTilReview" v-if="content.inStudyQueue">Next Review Time: {{content.nextReviewTime}}</div>
        <div class="tree-proficiency-values">
            <button class="tree-proficiency-values-one" v-on:click="setProficiencyToOne">Not at all</button>
            <button class="tree-proficiency-values-two" v-on:click="setProficiencyToTwo">A lil'</button>
            <button class="tree-proficiency-values-three" v-on:click="setProficiencyToThree">Mostly</button>
            <button class="tree-proficiency-values-four" v-on:click="setProficiencyToFour">All the way baby</button>
        </div>
    </div>
    <button v-on:click="toggleEditing">{{editing ? "Stop Editing" : "Edit"}}</button>
    <button v-on:click="unlinkFromParent">Delete</button>
</div>
