<div class="tree" v-bind:style="styleObject">
	<div class="tree-history" v-if="showHistory" v-on:click="toggleHistory">
		<item-history :item-id="content.id" :tree="tree"></item-history>
	</div>
	<div v-if="!showHistory">
		<div class="tree-skill" v-if="typeIsSkill">
			<div class="tree-current-skill" v-show="!editing">
				<input type="text" class="tree-current-skill-id" :value="content.id" hidden>
				<div class="tree-current-skill">{{content.title}}</div>
				<button class="tree-skill-study ui button positive" v-on:click.stop="studySkill">Study this skill</button>
			</div>

			<div class="tree-edit-skill" v-show="editing">
				<input class="tree-id" v-model="content.id" hidden>
				<textarea class="tree-edit-skill-input" v-model="content.title"></textarea>
				<div>
					<button class="skill-new-save ui button positive" v-on:click.stop="changeContent">Save</button>
				</div>
			</div>
		</div>
		<div class="tree-map" v-if="typeIsMap">
			<div class="tree-map-current" v-if="!editing">
				{{content.question}}
			</div>
			<div class="tree-map-edit" v-if="editing">
				<input class="tree-map-edit-title" ref="mapTitle" v-on:click.stop="changeContent">
			</div>
		</div>
		<div class="tree-flashcard" v-if="typeIsFlashcard">
			<div class="tree-current-fact" v-show="!editing">
				<input type="text" class="tree-current-fact-id" :value="content.id" hidden>
				<div class="tree-current-fact-question">{{content.question}}</div>
				<div class="tree-current-fact-answer">{{content.answer}}</div>
			</div>
			<div class="tree-edit-fact" v-show="editing">
				<input class="tree-id" v-model="content.id" hidden>
				<textarea class="tree-edit-fact-question" ref="question" v-bind:value="content.question"></textarea>
				<textarea class="tree-edit-fact-answer" ref="answer" v-bind:value="content.answer"></textarea>
				<div>
					<button class="fact-edit-save" v-on:click.stop="changeContent()">Save</button>
				</div>
			</div>
		</div>

	</div>
	<div class="tree-category" v-if="typeIsCategory">
		<div class="tree-category-study" v-show="!editing">
			<button v-on:click="studyCategory">Study this category</button>
		</div>
		<div class="tree-current-category" v-show="!editing">
			<input type="text" class="tree-current-fact-id" :value="content.id" hidden>
			<div class="tree-current-category">{{content.title}}</div>
		</div>
		<div class="tree-edit-category" v-show="editing">
			<input class="tree-id" v-model="content.id" hidden>
			<textarea class="tree-edit-category" ref="title" v-bind:value="content.title"></textarea>
			<div>
				<button class="tree-edit-category-save" v-on:click.stop="changeContent()">Save</button>
			</div>
		</div>
	</div>
	<div class="tree-proficiency" v-show="!addingChild && typeIsFlashcard && !showHistory && !editing">
		<div class="divider-horizontal"></div>
		<div class="tree-proficiency-message">How well did you know this?</div>
		<proficiency-selector v-on:input="proficiencyClicked(proficiencyInput)"
													v-model="proficiencyInput"></proficiency-selector>
		<div class="tree-next-review-time">Next Review Time: {{nextReviewTime | timeFromNow }}</div>
	</div>
	<div class="tree-footer" v-show="!showHistory">
		<div class="tree-footer-row">
			<div>
				<i v-on:click.stop="toggleEditing"
					 :class="{'tree-edit-button': true, 'fa': true, 'fa-pencil-square-o': !editing, 'fa-arrow-left': editing}"
					 aria-hidden="true"></i>
			</div>
			<div v-show="typeIsCategory">
				<i v-on:click.stop="toggleAddChild"
					 :class="{'tree-add-child-button': true, 'fa': true, 'fa-plus-square-o': !addingChild, 'fa-minus-square': addingChild}"
					 aria-hidden="true"></i>
			</div>
			<div class="tree-timer" :title="timerMouseOverMessage" v-if="!typeIsCategory">{{content.timer |
				secondsToPretty}}
			</div>
			<i class="tree-delete-button fa fa-trash-o" aria-hidden="true" v-if="true" v-on:click.stop="remove"></i>
		</div>

		<div class="tree-proficiency-timeTilReview"
				 v-if="!typeIsCategory && content.hasInteractions && content.nextReviewTime">Next Review Time:
			{{content.nextReviewTime | timeFromNow}}
		</div>
	</div>
	<newtree :parent-x="x" :parent-y="y" :parent-id="id" :primaryparenttreecontenturi="content.uri"
					 v-show="addingChild && typeIsCategory"></newtree>
</div>
