.tree-proficiency-values-one {
  background-color: lightpink;
}

.tree-proficiency-values-two {
  background-color: yellow;
}

.tree-proficiency-values-three {
  background-color: lawngreen;
}
.tree-proficiency-values-four {
  background-color: aqua;
}
.tree-proficiency-unknown {
  background-color: grey;
}
.tree-footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tree-proficiency-timeTilReview {
  display: flex;
  justify-content: center;
}
.tree {
  cursor: default;
  padding: 4px;
  width: 320px;
  border-radius: 3px; /* doesn't really work because of the way we're currently rendering the sigma tooltip/hover */
}

.tree-edit-button {
  cursor: pointer;
}
.tree-delete-button {
  cursor: pointer;
}
.tree-current-fact-question {
  padding-bottom: 4px;
}
.tree-current-fact-answer {
  padding-left: 4px;
}
.tree-debugging-info {
  width: 100%;
  word-wrap: break-word;
}
.tree-new-fact {
  display: flex;
  flex-direction: column;
}
