<div>
    <div class="new-exercise-question">Question
        <!--<multi-select-and-search source="factsAndSkills" result="itemsSelected"></multi-select-and-search>-->
        <ul>
            {{itemIds.length}}
            <li v-for="id in itemIds">
                {{id}}
            </li>
        </ul>
        <div id="example3"></div>
        <div class="input textarea clearfix example4"></div>
        <textarea v-model="question"></textarea>
    </div>
    <div class="new-exercise-answer">Answer
        <textarea v-model="answer"></textarea>
    </div>
    <ul class="new-exercise-content-items">
        <li class="new-exercise-content-item" v-for="item in items">

        </li>
        <li class="new-exercise-add-content-item">
            <input type="text" v-model="newItem"><button v-on:click='addContentItem' class="new-exercise-add-content-item-button">+</button>
        </li>
    </ul>
    <button class="new-exercise-submit" v-on:click="createExercise">Create Exercise</button>
</div>
