<div class="newTree">
    <div class="divider-horizontal"></div>
    <div class="arrow"></div>
    <div class="newTree-header">Add a new child </div>
    <!--<div class="sigma-tooltip-header">Add a new child </div>-->
    <!--<div class="sigma-tooltip-header">Add a new child {{primaryparenttreecontenturi}} {{parentid}} </div>-->
    <!--<div class="sigma-tooltip-body">-->
    <div>
        <div class="newTree-type-selector">
            <button class="newTree-type-selector-heading-button tree-button-choice-selected"  v-bind:style="headingSelectorStyle" v-on:click="setTypeToHeading">Category</button>
            <button class="newTree-type-selector-fact-button" v-bind:style="factSelectorStyle" v-on:click="setTypeToFact">Fact</button>
            <!--<button class="newTree-type-selector-skill-button" v-bind:style="skillSelectorStyle" v-on:click="setTypeToSkill">Skill</button>-->
        </div>
        <p class="newTree-form">
            <p class="newTree-form tree-fact" v-if="contentIsFact">
                <input type="hidden" class="newTree-parentId" v-model="parentid">
                <span class="tree-label">Question:</span><input class='newTree-question' type='text' v-model="question"><br>
                <span class="tree-label">Answer:</span> <input class='newTree-answer' type='text' v-model="answer"><br>
                <button class='newTree-create-button' v-on:click="createNewTree">Create</button>
            </p>
            <p class="newTree-form tree-heading" v-if="contentIsHeading">
                <input type="hidden" class="newTree-parentId" v-model="parentid">
                <span class="tree-label">Category:</span> <input class='newTree-heading' type='text' v-model="title"><br>
                <button class='newTree-create-button' v-on:click="createNewTree">Create</button>
            </p>
            <!--<p class="newTree-form tree-skill" v-if="contentIsSkill">-->
                <!--<input type="hidden" class="newTree-parentId" v-model="parentid">-->
                <!--<span class="tree-label">Skill:</span><input class='newTree-skill' type='text' v-model="title"><br>-->
                <!--<button class='newTree-create-button' v-on:click="createNewTree">Create</button>-->
            <!--</p>-->
        </p>
    </div>
</div>
