<div class="tree" v-bind:style="styleObject" >
<!--<div class="tree">-->
    TREE TEMPLATE!!?? {{showHistory}}
    {{contentUserId}}
    <div class="tree-history" v-if="showHistory" v-on:click="toggleHistory">
        SHOW HISTORY
        <item-history :item-id="content.id" :tree="tree" ></item-history>
    </div>
    <div v-if="!showHistory">
        NOT SHOW HISTORY
        <div class="tree-skill" v-if="typeIsSkill">
            <div class="tree-current-skill" v-show="!editing">
                <input type="text" class="tree-current-skill-id" :value="content.id" hidden>
                <div class="tree-current-skill">{{content.title}}</div>
                <button class="tree-skill-study ui button positive" v-on:click.stop="studySkill">Study this skill</button>
            </div>

            <div class="tree-new-skill" v-show="editing">
                <input class="tree-id" v-model="content.id" hidden>
                <textarea class="tree-new-skill-input" v-model="content.title"></textarea>
                <div>
                    <button class="skill-new-save ui button positive" v-on:click.stop="changeContent">Save</button>
                </div>
            </div>
        </div>
        <div class="tree-fact" v-if="typeIsFact">
            <div class="tree-current-fact" v-show="!editing">
                <input type="text" class="tree-current-fact-id" :value="content.id" hidden>
                <div class="tree-current-fact-question">{{content.question}}</div>
                <div class="tree-current-fact-answer">{{content.answer}}</div>
            </div>
            <div class="tree-new-fact" v-show="editing">
                <input class="tree-id" v-model="content.id" hidden >
                <input class="tree-new-fact-question" v-model="content.question" v-on:click.stop="">
                <textarea class="tree-new-fact-answer" v-model="content.answer" v-on:click.stop=""></textarea>
                <div>
                    <button class="fact-new-save" v-on:click.stop="changeContent">Save</button>
                </div>
            </div>
        </div>

    </div>
    <div class="tree-heading" v-if="typeIsHeading" v-on:click.stop="toggleEditingAndAddChild">
        <!-- {{numChildren}} -->
        <!--{{tree.id}} ---->
        <!--<button v-on:click="recalculateProficiencyAggregation">Recalculate Proficiency Aggregation</button>-->
        <div class="tree-current-heading" v-show="!editing">
            <input type="text" class="tree-current-fact-id" :value="content.id" hidden>
            <div class="tree-current-heading">{{content.title}}</div>
            <!--<div class="tree-heading-aggregationTimer">-->
                <!--{{tree.aggregationTimer | secondsToPretty}}-->
            <!--</div>-->
            <!--<div class="tree-heading-leaf-proficiencies">-->
                <!--<div class="tree-heading-leaf-num-unknown">{{tree.proficiencyStats.UNKNOWN}}</div>-->
                <!--<div class="tree-heading-leaf-num-one">{{tree.proficiencyStats.ONE}}</div>-->
                <!--<div class="tree-heading-leaf-num-two">{{tree.proficiencyStats.TWO}}</div>-->
                <!--<div class="tree-heading-leaf-num-three">{{tree.proficiencyStats.THREE}}</div>-->
                <!--<div class="tree-heading-leaf-num-four">{{tree.proficiencyStats.FOUR}}</div>-->
            <!--</div>-->
            <!--<div class="tree-heading-numOverdue">-->
                <!--{{tree.numOverdue}} overdue items-->
            <!--</div>-->
            <div class="tree-heading-study">
                <button class="tree-heading-study ui button positive" v-on:click.stop="studyHeading">Study this Category</button>
            </div>
        </div>
        <div class="tree-new-heading" v-show="editing">
            <input class="tree-id" v-model="content.id" hidden>
            <textarea class="tree-new-heading" v-model="content.title" v-on:click.stop=""></textarea>
            <div>
                <button class="heading-new-save" v-on:click.stop="changeContent">Save</button>
            </div>
            <button class="tree-heading-study ui button negative" v-on:click.stop="clearHeading">Remove All Your Data from this Category</button>
        </div>
    </div>
    <div v-if="!typeIsHeading">TYPE IS NOT HEADING</div>
    <div class="tree-proficiency" v-show="!addingChild && typeIsFact && !showHistory">
        <div class="divider-horizontal"></div>
        <div class="tree-proficiency-message">How well did you know this?</div>
        <proficiency-selector v-on:input="proficiencyClicked(proficiency)" v-model="proficiency"></proficiency-selector>
    </div>
    <div class="tree-footer" v-show="!addingChild && !showHistory">
        <div class="divider-horizontal"></div>
        <div class="tree-footer-row">
            <div class="tree-edit-button" v-on:click.stop="toggleEditing">
                <i :class="{'tree-edit-button': true, 'fa': true, 'fa-pencil-square-o': !editing, 'fa-book': editing}" aria-hidden="true"></i>
            </div>
            <div class="tree-add-child-button" v-show="typeIsHeading" v-on:click.stop="toggleAddChild">
                <i :class="{'tree-edit-button': true, 'fa': true, 'fa-plus-square-o': !addingChild, 'fa-minus-square-o': addingChild}" aria-hidden="true"></i>
            </div>
            <div class="tree-timer" :title="timerMouseOverMessage" v-if="!typeIsHeading">{{content.timer | secondsToPretty}} </div>
            <!--<div class="tree-proficiency-value" title="proficiency"> {{content.proficiency}}% </div>-->
            <i class="tree-delete-button fa fa-cog" aria-hidden="true" v-on:click.stop="toggleHistory"></i>
            <i class="tree-delete-button fa fa-trash-o" aria-hidden="true" v-if="false"  v-on:click.stop="remove" ></i>
        </div>
        <div class="tree-proficiency-timeTilReview" v-if="!typeIsHeading && content.hasInteractions && content.nextReviewTime">Next Review Time: {{content.nextReviewTime | timeFromNow}}</div>
    </div>
    <div v-show="addingChild" class="tree-add-child-button" v-on:click.stop="toggleAddChild">
        <i :class="{'tree-edit-button': true, 'fa': true, 'fa-plus-square-o': !addingChild, 'fa-minus-square-o': addingChild}" aria-hidden="true"></i>
    </div>
    <newtree :parentid="id" :primaryparenttreecontenturi="content.uri" v-show="addingChild && typeIsHeading" v-on:click="toggleEditingAndAddChild"></newtree>
</div>
