<div id="graph-container">
  <main-menu></main-menu>
  <!--<play-button class="playButton"></play-button>-->
<!--  <div> sample div</div>-->
  <points></points>
  <state-machine-debugger></state-machine-debugger>
  <div>state machine debuger %%^^^^</div>
  <!--<map-chooser></map-chooser>-->
  <canvas id="contextMeasurer" class="context-measurer">
  </canvas>
  <card-main
    v-if="mobileCardOpen"
    class="map-mobileCard"
    :id="openCardId"
    :contentId="openContentId"
    :contentUserId="openContentUserId"
  >

  </card-main>
  <!-- TODO: may be useful to have multiple editing cards open at a time, to allow copying and pasting -->
  <card-edit-two v-if="editing" style="position:absolute;"></card-edit-two>
  <div>editing ^^ {{editing}}</div>
  <card-add-button v-if="showAddButton" style="position:absolute;"></card-add-button>
  <card-confidence-buttons-two v-for="cardId in currentFlippedFlashcards" :cardId="cardId"></card-confidence-buttons-two>
<!--  <card-confidence-buttons v-for="cardId in currentFlippedFlashcards"></card-confidence-buttons>-->


</div>
<script>
	import CardConfidenceButton from '../cardConfidenceButtons/cardConfidenceButton';
	export default {
		components: {CardConfidenceButton}
	}
</script>
