<div>
    <div class="studyMenu-settings" v-if="settingsMenuOpen">
        <h6 class="studyMenu-settings-title">Show Which Items?</h6>
        <div class="studyMenu-settings-itemTypes">
            <div>
                <button v-bind:class="{ 'button-selected': newSelected }" v-on:click="selectNew">New</button>
                <button v-bind:class="{ 'button-selected': oldSelected }" v-on:click="selectOld">Old</button>
                <button v-bind:class="{ 'button-selected': bothSelected }" v-on:click="selectBothNewAndOld" >Both</button>
            </div>
        </div>
        <div v-if="oldTrue">
            <h6 class="studyMenu-settings-title">Show Which Old Items?</h6>
            <div class="studyMenu-settings-oldTypes">
                <div>
                    <button v-bind:class="{ 'button-selected': overdueSelected}" v-on:click="selectOverdue">Overdue</button>
                    <button v-bind:class="{ 'button-selected': notOverdueSelected}" v-on:click="selectNotOverdue">Not Overdue</button>
                    <button v-bind:class="{ 'button-selected': bothOverdueAndNotOverdueSelected}" v-on:click="selectBothOverdueAndNotOverdue">Both</button>
                </div>
            </div>
        </div>
    </div>
    <span>
        <i class="fa" v-bind:class="{'fa-pause-circle': studying, 'fa-play-circle': !studying}" v-on:click="toggleStudying" aria-hidden="true"><!-- {{treeId}}--></i>
    </span>
    <!--<div class="studyMenu" v-bind:class="{ mobile: browserIsMobile }">Hello<i class="fa fa-pause-circle" aria-hidden="true"></i></div>-->
    <!--<button class="studyMenu" v-bind:class="{ mobile: browserIsMobile }">{{title}}&lt;!&ndash; [{{numOverdue}}]&ndash;&gt;</button>-->
</div>
