.studyMenu {
  //width: 120px;
  position: absolute;
  right: 8px;
  bottom: 40px;
  z-index: 1;
  font-size: 60px;
  //box-shadow: 10px 10px grey;
  //&.mobile {
  //  top: 0;
  //  left: 0;
  //  bottom: inherit;
  //  right: inherit;
  //}
}

.studyMenu-settings {
  background-color: white;
  width: 100%;
  position: absolute;
  right: 0px;
  bottom: 40px;
  z-index: 9001;
}

.studyMenu-settings-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.button-selected {
  font-size: 25px;
}

.studyMenu-settings-itemTypes {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.studyMenu-settings-oldTypes {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

