<div class="payments-container">
    <!--<h2>Branches Beta Access $2</h2>-->
    <!--<ul>-->
        <!--<li>-->
            <!--<span class="not-released">NOT RELEASED</span>-->
            <!--<span class="released">Uses spatial mapping to strengthen memory formation</span>-->
            <!--<span class="released">Uses spatial mapping to strengthen memory formation</span>-->
        <!--</li>-->
    <!--</ul>-->
    <form class='checkout-form' action="/api/pay/" method="POST" enctype='application/x-www-form-urlencoded'   v-if="stripekey">
        <stripe-checkout
            class='stripe-checkout-plugin'
            :stripe-key="stripekey"
            :product="subscription"
            on-success="broadcast"
            button="Get Beta Access $1.99"
            button-class="btn btn-primary purchase-btn"
        >
        </stripe-checkout>
    </form>
</div>
