<div class="tree-review">
    <header class="tree-review-header">
        <go-to-home></go-to-home>
        <div class="tree-review-header-right">
            <span class="tree-review-breadcrumbs">
                <span class="tree-review-breadcrumb" v-for="breadcrumb in breadcrumbsAllButLast">
                    <span >{{breadcrumb.text}} <span class="breadcrumb-arrow">> </span></span>
                </span>
                <span class="tree-review-breadcrumb">
                    <span >{{lastBreadcrumb.text}}</span>
                </span>
            </span>
            <span class="tree-review-timer">
                30m 5s
            </span>
        </div>
    </header>
    <div class="tree-review-body" :class="{'pointerFinger': !flipped}" v-on:click="flipIfNotFlipped">
        <div class="tree-review-question-container" v-on:click.stop="flip">
            <div class="tree-review-loading" v-if="loading">
                . . . loading . . .
            </div>
            <div class="tree-review-no-exercise-found" v-if="!loading &&!exercise.id">
                <div class="tree-review-no-exercise-found-text">
                   No exercise found for
                    <span class="tree-review-breadcrumb" v-for="breadcrumb in breadcrumbsAllButLast">
                        <span >{{breadcrumb.text}} <span class="breadcrumb-arrow">> </span></span>
                    </span>
                    <span class="tree-review-breadcrumb">
                        <span >{{lastBreadcrumb.text}}</span>
                    </span>
                </div>
                <button class="tree-review-next-question ui button positive" v-on:click.stop="addExercise">Add an exercise for this skill</button>
            </div>
            <div class="tree-review-question">{{exercise.question}}</div>
            <i class="fa fa-undo" name='flip-icon' aria-hidden="true" v-if="exercise.id"></i>
        </div>
        <div class="tree-review-answer-container" v-if="exercise.id && flipped">
            <div class="tree-review-answer">{{exercise.answer}}<i v-on:click='editExercise' class='tree-review-exercise-edit fa fa-pencil-square-o'></i><i v-on:click='deleteExercise' class='tree-review-exercise-delete fa fa-trash-o'></i></div>
        </div>
        <div class="tree-review-proficiency-container" v-if="exercise.id && flipped">
            How well did you know this?
            <div v-if="oneItemTested">
            </div>
            <div v-for="item in items">
                <span class="tree-review-item">
                    <span class="tree-review-item-title" :class="{'tree-proficiency-unknown-text': item.isProficiencyUnknown(), 'tree-proficiency-one-text': item.isProficiencyOne(),'tree-proficiency-two-text': item.isProficiencyTwo(),'tree-proficiency-three-text': item.isProficiencyThree(),'tree-proficiency-four-text': item.isProficiencyFour()}">{{item.title}}</span>
                    <proficiency-selector v-model="item.proficiency"></proficiency-selector>
                </span>
            </div>
            <div class="tree-review-item-select-all-divider"></div>
            <div class="tree-review-item" v-if="!oneItemTested">
                Mark all: <proficiency-selector v-on:input="updateProficiencyForAllItems" v-model="proficiencyForAllItems"></proficiency-selector>
            </div>
            <button class="tree-review-next-question ui button positive" v-on:click.stop="nextQuestion">Next Question</button>
        </div>
    </div>
</div>

