<div class="tree-review">
    <header class="tree-review-header">
        <a class="tree-review-header-left" v-on:click="goToHome">
            <i class="tree-review-goToHome fa fa-arrow-left" aria-hidden="true"></i>
        </a>
        <div class="tree-review-header-right">
            <div class="tree-review-breadcrumbs"><!-- A > B > CD > E > F > G > H --></div>
            <div class="tree-review-create-button-container">
                <div class="tree-review-create-button">TREE REVIEW</div>
            </div>
        </div>
    </header>
    <div class="tree-review-body">
        <!--<content-list class="tree-review-content-list"></content-list>-->
        <new-exercise class="tree-review-new-exercise"></new-exercise>
        <!--<exercise-list class="tree-review-exercise-list"></exercise-list>-->
    </div>
</div>

