<div class="birds">
  <div id='bird-1' class="bird-flying-1">
    <div class="bird"><span class="beak"></span></div>
  </div>
  <div id='bird-2' class="bird-flying-2">
    <div class="bird"><span class="beak"></span></div>
  </div>
  <div id='bird-3' class="bird-flying-3">
    <div class="bird"><span class="beak"></span></div>
  </div>
  <div id='bird-4' class="bird-flying-4">
    <div class="bird"><span class="beak"></span></div>
  </div>
  <div id='bird-5' class="bird-flying-5">
    <div class="bird"><span class="beak"></span></div>
  </div>
</div>
