<div class="sign-up">
    <div>
        <button class="login-button" v-on:click="loginWithFacebook" v-if="!loggedIn">Click to Login via Facebook </button>
    </div>
    <img class='infographic' src="/dist/images/infographic-mobile.jpg">
    <branches-stripe v-if="loggedIn" button="Get Beta Access #2" ></branches-stripe>
    <!--<login></login> -->
    <div>
        <button class="login-button" v-on:click="loginWithFacebook" v-if="!loggedIn">Click to Login via Facebook </button>
    </div>
</div>